.gameContainer{
	width:440px;
	list-style: none;
}
.gameContainer li{
	float:left;
	position:relative;
	width:100px;
	height:121px;
	margin-left:10px;
	display: block;
	cursor: pointer;
}
.effectFlip{
	transform: rotateY(180deg);
}
.flipper{
	transition: 0.6s;
	transform-style: preserve-3d;
	position:relative;
}
.flipper im{
	width:100px;
	height:121px;
}
.front,.back{
	backface-visibility: hidden;
	position: absolute;
	width:100px; /*170*/
	height:121px; /* 200 */
	top: 0;
	left: 0;
}
.front{
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
.back{
	z-index: 2;
	transform: rotateY(180deg);
}