h1{
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#playerContainer1,#playerContainer2{
	position: relative;
	float:left;
}
.gameContainer{
	width:1024;
	margin-top: 0px;
	position: relative;
	float:left;
}
player{
	width:440px;
	height: 600px;
	display: block;
	position: relative;
	float: left;
	margin-left:50px;
}
player .playerTitle{
	position: relative;
	float: left;
	width:100%;	
}
player .playerTitle h2{
	widht:100;
	text-align: center;
	padding-top: 0px;
	display: block;
}	
player .playerTitle span{
	widht:100;
	text-align: center;
	display: block;
}
.tileList{
	width:100%;
	list-style: none;
	position:relative;
	float:left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	margin-top: 0px;
}

.tileList li{
	float:left;
	position:relative;
	width:100px;
	height:121px;
	margin-left:10px;
	display: block;
	cursor: pointer;
}
.effectFlip{
	transform: rotateY(180deg);
}
.flipper{
	transition: 0.6s;
	transform-style: preserve-3d;
	position:relative;
}
.flipper im{
	width:100px;
	height:121px;
}
.front,.back{
	backface-visibility: hidden;
	position: absolute;
	width:100px; /*170*/
	height:121px; /* 200 */
	top: 0;
	left: 0;
}
.front{
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
.back{
	z-index: 2;
	transform: rotateY(180deg);
}
